@model RecycleHelperApplication.ViewModels.PanduanViewModels.PanduanTableViewModel
<div style="margin-bottom: 10px">
    <div style="display: inline;">
        <h2 style="display: inline;">List Panduan</h2>
    </div>
    <div style="display: inline;" class="pull-right">
        @using (Html.BeginForm("Delete", "Panduan", FormMethod.Post, new
        {
            id = "form_delete",
            @class =
            "pull-right",
            @style = "padding: 0 5px;"
        }))
        {
            @Html.Hidden("hddSelectedIds")
            <input type="button" value="Delete" class="btn btn-danger" id="btnDelete" />
        }
        @using (Html.BeginForm("Add", "Panduan", FormMethod.Post, new
        {
            id = "form_add",
            @class = "pull-right",
            @style = "padding: 0 5px;"
        }))
        {
            <input type="submit" value="Add" class="btn btn-primary" id="btnAdd" />
        }
    </div>
</div>
<table id="categories-datatable">
    <thead>
        <tr>
            <th></th>
            <th width="5%"></th>
            <th width="75%">Nama</th>
            <th width="20%">Toggle</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var a in Model.ListPanduan)
        {
            <tr>
                <td>@a.IdPanduan</td>
                <td>
                    <div style="text-align: center;">
                        <span class="chkPilih">
                            @Html.CheckBox("cbx_Panduan" + a.IdPanduan, false, new
                                      {
                                          value =
                        a.IdPanduan
                                      })
                    </span>
                </div>
            </td>
            <td>@a.NamaPanduan</td>
            <td><button class='btn btn-secondary btnEdit' type="button">Manage</button></td>
        </tr>
        }
    </tbody>
</table>
<script type="text/javascript">
    var table = $("#categories-datatable").DataTable({
        order: [
            [0, "asc"]
        ],
        columnDefs: [{
                visible: false,
                targets: [0]
            },
            {
                orderable: false,
                targets: [1]
            },
            {
                orderable: true,
                targets: [2]
            },
            {
                orderable: false,
                targets: [3]
            }
        ],
        responsive: true,
        autoWidth: false,
        scrollX: false,
        fixedHeader: true
    });

    $('#categories-datatable tbody').on('click', '.btnEdit', function () {
        var data = table.row($(this).parents('tr')).data();
        var IdPanduan = data[0];
        if (IdPanduan !== undefined) {
            var targetUrl = location.origin + '/Panduan/SelectPanduanToEdit';
            $.ajax({
                type: 'POST',
                url: targetUrl,
                data: {
                    'IdPanduan': IdPanduan
                },
                beforeSend: function (e) {
                    startLoaderScreen();
                },
                success: function (data) {
                    $('#form_Panduan').show();
                    $('#idPanduan_field').val(data.id);
                    $('#namaPanduan_field').val(data.name);
                },
                error: function (e) {
                    showAlert('error', e);
                }
            })
        }
    });
    $('#categories-datatable tbody').on('change', 'td', function (event) {
        var deletedList = [];
        var value = $(this).find('input').attr('value');
        if ($('#hddSelectedIds').val()) {
            deletedList = $('#hddSelectedIds').val().split(',');
        }

        if ($(this).find('input').is(':checked')) {
            deletedList.push(value);
            $('#hddSelectedIds').val(deletedList.join(','));
        } else {
            var index = deletedList.indexOf(value);
            if (index >= 0)
                deletedList.splice(index, 1);
            $('#hddSelectedIds').val(deletedList.join(','));
        }
    });
    $("#btnDelete").click(function () {
        var jumlahHapusPanduan = 0;
        $('#categories-datatable').DataTable().rows().iterator('row', function (context, index) {
            var node = $(this.row(index).node());
            //untuk mengecek apakah ada kategori yang dipilih untuk dihapus
            if (node.find("input")[0].checked) {
                //parameter showAlert : tipe alert, pesan yang ingin ditampilkan, form yang ingin di submit ketika konfirmasi
                jumlahHapusPanduan++;
            }
        });
        if (jumlahHapusPanduan == 0) {
            showAlert('error', 'Tidak ada data yang dipilih!');
        } else {
            showAlert('confirmation', 'Apakah anda ingin menghapus data ini?', 'form_delete');
        }
    });
</script>