@model RecycleHelperApplication.ViewModels.DetailPanduanViewModels.DetailPanduanViewModel
@using RecycleHelperApplication.Model.Models;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<Bahan> ListBahan = Model.ListBahan;
    var NamaPanduan = Model.NamaPanduan;
    var DeskripsiPanduan = Model.DeskripsiPanduan;
    var UserName = Model.UserName;
}

<!DOCTYPE html>
<style>
    .f1{
        width: 50%;
        display: inline-block;
        background-color: dimgrey;
        padding: 10px;
        margin-bottom: 20px;
    }
     .float-container {
	    max-width: 1460px;
	    margin: auto;
    }

    .float-child1 {
	    display: inline-block;
	    width: 30%;
	    min-width: 350px;
	    padding: 0;
	    margin: 0;
	    position: relative;
        padding: 10px;
    }  
    .float-child2 {
	    width: 65%;
	    min-width: 350px;
	    display: inline-block;
	    vertical-align: top;
	    padding: 15px 0;
        padding: 10px;
    }  
</style>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div class="float-container">
        <h3>@NamaPanduan</h3>
        by: @UserName<br /><br />
        <div class="float-child1">
            <table id="tbl_bahan">
                <thead>
                <th><h4>Bahan :</h4></th>
                </thead>
                <tbody>
                    @for (int i = 0; i < ListBahan.Count; i++)
                    {
                        int id = ListBahan[i].IdBahan;
                        if (id != 0)
                        {
                            <tr>
                                <td>- @ListBahan[i].NamaBahan</td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
        <br />

        <div class="float-child2">
            <h4>Keterangan :</h4>
            <p>@DeskripsiPanduan</p>
        </div>
    </div>
   
</body>
</html>
